include ../bottom-menu/bottom-menu
include ../social/social
include ../copyright/copyright

mixin footer()
    footer.footer 
        .container
            .row
                .col-md-12
                    .footer__top
                        -
                            var arr = [
                                { title: 'Каталог', url: '#'},
                                { title: 'Оплата', url: '#'},
                                { title: 'Доставка', url: '#'},
                                { title: 'Возврат', url: '#'},
                                { title: 'Сборка', url: '#'},
                                { title: 'Помощь', url: '#'},
                                { title: 'Обратная связь', url: '#'}
                            ]
                        +bottom-menu(arr)
                    +copyright
                .col-lg-5.offset-lg-6.col-md-8.offset-md-4
                    +social