include ../icon-btn/icon-btn
include ../filter-base/filter-base

mixin filter-color(arr)
    .filter-base__top
        span.filter-base__top__title= 'Цвет'
        .filter-base__top__icon
            +icon-btn('arrow-small')
    ul.filter-color__list
        each item in arr
            if item.name==='white'
                li.filter-color__item
                    span(style = 'background:#' + item.color +';border: solid 1px #9b9b9b;')
            else
                li.filter-color__item
                    span(style = 'background:#' + item.color+';')

