//- Используем стандартный шаблон
extends ../layouts/default/default

include ../components/breadcrumbs/breadcrumbs
include ../components/page-title/page-title
include ../components/card-list/card-list
include ../components/input-checkbox/input-checkbox

//- Выводим контент
block content
    .container
        .mt-xl-12.mb-xl-3
            -
                var breadcrumbs = [
                    {url: '#', title: 'Главная', value: 'Главная'},
                    {url: '#', title: 'Каталог', value: 'Каталог'},
                    {url: '#', title: 'Мягкая мебель', value: 'Мягкая мебель'},
                    {value: 'Диваны'}
                ]
            +breadcrumbs(breadcrumbs)
        +page-title('Диваны')
        .mt-xl-12
            .row
                .col-xl-5.pt-xl-4 
                    +input-checkbox('test', 'Вельвет')
                    br
                    button.btn.btn_primary Button
                    br
                    input.btn.btn_primary(type='submit' value='Button')
                    br
                    a.btn.btn_primary(href="#") Button
                .col-xl-18.offset-xl-1
                    -
                        var cards=[
                            {
                                url:'#',
                                name: 'Monreal',
                                img: 'assets/images/item-01.jpg',
                                price: '10 990 руб.'},
                            {
                                url: '#',
                                name: 'Glasgow',
                                img: 'assets/images/item-02.jpg',
                                price: '19 990 руб.'},
                            {
                                url: '#',
                                name: 'Munich',
                                img: 'assets/images/item-03.jpg',
                                price: '24 990 руб.'},
                            {
                                url: '#',
                                name: 'Alexandria',
                                img: 'assets/images/item-04.jpg',
                                price: '109 990 руб.'},
                            {
                                url: '#',
                                name: 'Karachi',
                                img: 'assets/images/item-05.jpg',
                                price: '17 990 руб.'},
                            {
                                url: '#',
                                name: 'Phoenix',
                                img: 'assets/images/item-06.jpg',
                                price: '29990 руб.'}
                        ]
                    +card-list(cards)