//- Используем стандартный шаблон
extends ../layouts/default/default

include ../components/breadcrumbs/breadcrumbs
include ../components/page-title/page-title
include ../components/card-list/card-list
include ../components/filter-list/filter-list

//- Выводим контент
block content
    .container
        .mt-xl-12.mb-xl-3
            -
                var breadcrumbs = [
                    {url: '#', title: 'Главная', value: 'Главная'},
                    {url: '#', title: 'Каталог', value: 'Каталог'},
                    {url: '#', title: 'Мягкая мебель', value: 'Мягкая мебель'},
                    {value: 'Диваны'}
                ]
            +breadcrumbs(breadcrumbs)
        +page-title('Диваны')
        .mt-xl-12
            .row
                .col-xl-5.pt-xl-4 
                    -
                        var filtres=[
                            {
                                title: 'Цвет',
                                type: 'color',
                                items: [
                                    {name: 'white', color: '#ffffff'},
                                    {name: 'black', color: '#000000'},
                                    {name: 'grey', color: '#5a5a5a'},
                                    {name: 'dark-grey', color: '#704d35'},
                                    {name: 'orange', color: '#e0791d'},
                                    {name: 'red', color: '#ba0606'},
                                    {name: 'green', color: '#38a01a'},
                                    {name: 'dark-blue', color: '#314976'},
                                    {name: 'blue', color: '#3748a6'}
                                ]
                            },
                            {
                                title: 'Материал',
                                items: [
                                    {name: 'valvet', label: 'Вельвет'},
                                    {name: 'microvelour', label: 'Микровелюр'},
                                    {name: 'velour', label: 'Велюр'},
                                    {name: 'jacquard', label: 'Жаккард'},
                                    {name: 'suede', label: 'Замша'},
                                    {name: 'gunny', label: 'Рогожка'}
                                ]
                            },
                            {
                                title: 'Угол',
                                items: [
                                    {name: 'left', label: 'Левый'},
                                    {name: 'right', label: 'Правый'},
                                    {name: 'universal', label: 'Универсальный'}
                                ]
                            }
                        ]
                    +filter-list(filtres)
                    
                .col-xl-18.offset-xl-1
                    -
                        var cards=[
                            {
                                url:'#',
                                name: 'Monreal',
                                img: 'assets/images/item-01.jpg',
                                price: '10 990 руб.'},
                            {
                                url: '#',
                                name: 'Glasgow',
                                img: 'assets/images/item-02.jpg',
                                price: '19 990 руб.'},
                            {
                                url: '#',
                                name: 'Munich',
                                img: 'assets/images/item-03.jpg',
                                price: '24 990 руб.'},
                            {
                                url: '#',
                                name: 'Alexandria',
                                img: 'assets/images/item-04.jpg',
                                price: '109 990 руб.'},
                            {
                                url: '#',
                                name: 'Karachi',
                                img: 'assets/images/item-05.jpg',
                                price: '17 990 руб.'},
                            {
                                url: '#',
                                name: 'Phoenix',
                                img: 'assets/images/item-06.jpg',
                                price: '29990 руб.'}
                        ]
                    +card-list(cards)