.bottom-menu {
	//display: flex;
    //justify-content: space-between;
    
	&__list {
        display: flex;
        flex-wrap: wrap;
	}

	&__item {
        margin-right: 5px;
        margin-bottom: 5px;
        //height: 30px;
        //padding: 4px 15px;
        //margin-right: 5px;
        border-radius: 2px;
        background-color: white;
		//&:last-child {
        //	margin-right: 0;
		//}
	}

	&__link {
        display: inline-flex;
        padding: 4px 15px;
        font-family: $font-family-base;
        font-size: 14px;
        line-height: 1.57;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: normal;
	}
}